body {
  background-color:#000;
  font-family: Roboto, sans-serif;
  color: #9ce84c ;
}

h1 {
  font-family: Lobster, cursive;
  font-size: 3em;
}

main {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  font-size: 2em;
  text-align: center;
}

button {
  padding: 16px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 16px;
  border-radius: 8px;
  background-color: #9ce84c;
  color: #000;
  font-family: Roboto, sans-serif;
}

#nomes-container,
#nomes {
  display: none; 
}

.resultado {
  padding: 16px;
  margin-top: 120px;
  border: 8px dotted #fff;
  display: none;
}

.resultado span {
  font-weight: bold;
  font-size: 3em;
  display: block;
}


